{% extends "base.html" %} {% block 'titulo' %}Cadastro{% endblock 'titulo' %}
{%block 'body' %}

<div class="container">
  <br />
  {%if messages %} 
    {% for i in messages %}

  <div class="alert {{i.tags}}" role="alert">{{i}}</div>

    {% endfor %} 
  {% endif %}
  <div class="row">
    <div class="col-md">
      <h1>Cadastre-se</h1>
      <br />
      <form method="POST" action="{% url 'valida_cadastro' %}">
        {% csrf_token %}
        <label>Nome:</label>
        <input
          name="nome"
          type="text"
          class="form-control"
          placeholder="Digite seu nome"
        />
        <br/>
        <label>Email:</label>
        <input
          name="email"
          type="text"
          class="form-control"
          placeholder="Digite seu email"
        />
        <br/>
        <label>Senha:</label>
        <input
          name="senha"
          type="password"
          class="form-control"
          placeholder="Digite sua senha"
        />
        <br/>
        <label>CEP:</label>
        <input
          name="cep"
          type="text"
          class="form-control"
          placeholder="CEP"
        />
        <br/>
        <label>Rua:</label>
        <input
          name="rua"
          type="text"
          class="form-control"
          placeholder="Rua"
        />
        <br/>
        <label>Número:</label>
        <input
          name="numero"
          type="text"
          class="form-control"
          placeholder="Numero"
        />
        <br/>
        <input class="btn btn-success btn-lg" type="submit" value="Enviar" />
        <a href="{%url 'login' %}" class="btn btn-info btn-lg"> Login </a>
      </form>
    </div>
  </div>
</div>
{% endblock 'body' %}
